@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
body
{
    margin: 0;
    height: 100vh;
    background-color: #EAC100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Nerko One', cursive;
}
nav
{
    text-align: center;
    background-color: mediumvioletred;
    padding: 10px;
}
a
{
    color: white;
    padding: 10px;
}
article
{
    text-align: center;
}