@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
body
{
    margin: 0;
    height: 100vh;
    background-color: #EAC100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Nerko One', cursive;
}
.img
{
    max-width: 22%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*Animation-img*/
.img {
    -webkit-animation: img 1.1s both;
    animation: img 1.1s both;
}
@-webkit-keyframes img {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}
@keyframes img {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}


/* End-Animation-img*/
.nav
{
    text-align: center;
    background-color: mediumvioletred;
    padding: 10px;
}
a
{
    color: white;
    padding: 10px;
}
/*Form*/

form
{
    width: 50%;
    font-weight: bold;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Nerko One', cursive;

}
.formflex
{
    padding: 25px;
    color: #ffffff;
}

input
{
    border: none;
    background: none;
    border-radius: 5px;
    text-align: center;
    padding: 30px;
    margin: 10px;
    width: 50%;
    font-family: 'Nerko One', cursive;
    font-size: 20px;
}

input::placeholder
{
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Nerko One', cursive;
}

input[type='submit']
{
    border: none;
    padding: 10px;
    color: white;
    font-weight: bold;
    background-color: black;
}

input[type='submit']:hover
{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}
h1
{
    text-decoration: underline;
}
