@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

  body
{
    margin: auto;
    height: 100vh;
    background-color: #EAC100;
      font-family: 'Nerko One', cursive;

  }
nav
{
    text-align: center;
    background-color: mediumvioletred;
    padding: 10px;
}
a
{
    color: white;
    padding: 10px;
}

/*Main*/
h1, h2, p
{
    text-align: center;
}
h1
{
    color: white;
}
p
{
    color:darkmagenta;
}

.flexrow-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.image1
{
    max-width: 50%;
}
.image2
{
    max-width: 48%;
}
.image3
{
    max-width: 49%;
}
.image4
{
    max-width: 45%;
}
.flex-container
{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.flexrow-container img:hover
{
    -webkit-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.42);
    box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.42);
}
/* texte deroulant*/

.txtderoulant
{
    width: 100%;
    overflow: hidden;
    font-family: 'Nerko One', cursive;
    color: mediumvioletred;
    font-size: 2em;
}

.txtderoulant > :first-child
{
    display: inline-block;
    padding-right: 2em;
    padding-left: 100%;
    white-space: nowrap;
    animation: txtderoulant 15s infinite linear;
    animation-name: txtderoulant;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes txtderoulant {
    0% {
        transform: translate3d(0,0,0);
    }
    100% {
        transform: translate3d(-100%,0,0);
    }
}


span
{
    font-size: 2em;
    color: white;
}

/*
.conteneur1{
    overflow: hidden;
    max-width: 960px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
}
.d1{
    width: 3840px;
    height: 720px;
    background-color: #EDEDED;
    background-image: url("images/slide-100.jpg");
    background-size: contain;
    animation: defilement1 12s linear infinite;
}
@keyframes defilement1{
    0%{transform: translate(0,0);}
    100%{transform: translate(-2880px,0);}
}

.d1:hover{
    animation-play-state: paused;
}*/
